#districts-map-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

#districts-map {
  width: 600px;
  height: 400px;
}

#new-district-name,
#add-new-district-btn,
#cancel-new-district-btn {
  display: none;
}

#log-districts {
  margin-top: 10px;
}

.districts-map-menu-input {
  width: 100%;
  margin: 5px 0;
  padding: 5px 10px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.area-btn {
  display: block;
  margin: 5px 0;
  width: 100%;
}

.area-btn:first-of-type {
  margin-top: 12px;
}
